.appHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.visible {
  transition: opacity 0.25s ease-in;
  opacity: 1;
}

.logo {
  height: 10em;
  width: 10em;
  color: var(--logo-color);
}

.logo svg {
  height: auto;
  width: auto;
}

.greeting {
  font-size: 3em;
  font-weight: 550;
  color: font-color
}

#greetingLogo {
  color: var(--logo-color);
}