.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  --logo-color: #5a8c8c
}

.appHero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 10em;
  width: 10em;
  color: var(--logo-color);
}

.greeting {
  font-size: 3em;
  font-weight: 550;
  color: font-color
}

#greetingLogo {
  color: var(--logo-color);
}